<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>张东明-个人博客</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="public/css/index.css" rel="stylesheet" type="text/css" />

<!-- <script type="text/javascript" src="../../public/js/cufon-yui.js"></script> -->
<script type="text/javascript" src="public/js/arial.js"></script>
<script type="text/javascript" src="public/js/cuf_run.js"></script>
<!-- CuFon ends -->
</head>
<body>
<div class="main">

  <div class="header">
    <div class="header_resize">
      <div class="logo"><h1 style="font-size: 30px;">张东明<small> - 个人博客</small></h1></div>
      <div class="menu_nav" style="margin-right:-65px;">
        <ul>
          <li><a href="index.php">主页</a></li>
         <!--  <li><a href="index.php?m=index&a=support">支持</a></li> -->
          <li class="active"><a href="index.php?m=index&a=about">关于我</a></li>
           {if !empty($_SESSION['username']) && $_SESSION['username'] == '张东明'}
          <li><a href="index.php?m=index&a=contact">发表文章</a></li>
          <li><a href="index.php?m=admin&a=login" target="_blank">后台管理</a></li>
          {/if}
          {if empty($_SESSION['username'])}
          <li><a href="index.php?m=user&a=login">登录</a></li>
          <li><a href="index.php?m=user&a=login">注册</a></li>
          <li><a href="index.php?m=user&a=reback">找回密码</a></li>
          <!-- <a href="index.php?m=user&a=login" style="float: right;margin-top: 5px;margin-right:-200px;">注册</a>
          <a href="index.php?m=user&a=login" style="float: right;margin-right: -165px;margin-top: 5px;">登录</a> -->
          {else}
           <li><a href="index.php?m=index&a=personal">个人中心</a></li>
          <span style="float: right;margin-top: 5px;margin-right:-90px;">欢迎：{$_SESSION['username']}</span> 
          {if empty($_SESSION['picture'])}
          <img src="public/images/userpic.gif" style="float: right;margin-top: -7px;margin-right:-145px; height:40px;">
          {else}
          <img src="{$_SESSION['picture']}" style="float: right;margin-top: -7px;margin-right:-145px; width:50px;">
          {/if}
          <!--  <a href="index.php?m=user&a=tuichu" style="float: right;margin-top: -20px;margin-right:-190px;">退出</a>
          <a href="index.php?m=user&a=login" style="float: right;margin-top: 5px;margin-right:-200px;">用户管理</a>
          <a href="index.php?m=user&a=login" style="float: right;margin-right: -130px;margin-top: 5px;">个人中心</a> -->
          <li><a href="index.php?m=user&a=tuichu">退出</a></li>
         {/if}
        </ul>
      </div>
      <div class="clr"></div>
      <div class="htext">
          <h2>用一朵花开的时间相遇，在我最美好的年华里，用我最美好的姿态，遇见你。</h2>
        <p>人的一生很像是在雾中行走，远远望去，只是迷蒙一片，辨不出方向和吉凶。可是，当你鼓起勇气，放下忧惧和怀疑，一步一步向前走去的时候，你就会发现，每走一步，你都能把下一步路看得清楚一点。往前走，别站在远远的地方观望！你就可以找到你的方向。 
        <p><a href="https://meiriyiwen.com/"><img src="public/images/readmore.gif" width="113" height="37" alt="read more" border="0" /></a></p>
      </div>
      <div class="clr"></div>
    </div>
  </div>

  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2><span>关于我</span></h2><div class="clr"></div>
                   <p>如果，你对我说，你想要一朵花 
那么，我会给你一朵花； 
如果，你对我说，你想要一颗星星 
那么，我会给你一颗星星； 
如果，你对我说，你想要一场雪 
那么，我就会给你一场雪； 
如果，你对我说，你想要离开我 
那么，我会说，我会对你说 
我给你自由，给你全部的自由 
这是我的温柔，给你的温柔</p>
        </div>
        <div class="article">
          <h2><span>心情</span></h2><div class="clr"></div>
                <p>午后的阳光是那么璀璨，那么耀眼。它骄傲却不骄纵，狂妄却不无知，锋芒却不锋利，高贵却不傲慢，给人的感觉总是神圣不可侵犯。我喜欢它，因为只有它才可以给我真正的温暖。
当清晨的第一缕阳光挥洒下来时，如同在仙境一样朦朦胧胧、隐隐约约，婉如在薄纱里样，似飞似舞，煞是好看。但它也比不上午后的阳光，午后的阳光让人有力量，让人觉得它刚正不阿，令人神往。午后的阳光又像一福油画，金色光洒在叶子上，光反射回来，好似金子一样耀眼。
太阳西下时，总会留给人一种不舍，最后一缕阳光映在天边的云彩上，五彩缤纷，似火，似花，似星。但午后的阳光更像拂去了灰尘的珍珠，耀眼异常，光芒毕露。我喜欢它，因它不仅耀眼，不仅刚正，更是因为任何事物只有经过它的磨练才会变得勇敢坚强。
池塘里的水漾起一圈圈波纹，午后的阳光渐渐变弱，当我想要抓住它时，可它已经转眼即逝了，我很遗憾，但更加期盼，期盼明天更加不可一世的午后阳光。</p>
		<p>咖啡，苦苦的，甜甜的，香香的，浓浓的，温暖的。
在我的记忆力是酸酸的，淡淡的，似乎总能将心里遗忘的角落唤醒。
都说时间会带走一切，所以不必带着沉重的心情去迎接每天冬升的太阳，可是，对于我，忧伤的花瓣依然鲜艳的耀眼。
再生命中，至少我现在所仅有的生命里，最压抑，最孤独，最无奈的心情都融进了褐色的咖啡。
那时，咖啡是很好的朋友，甜甜的形影不离，苦苦的味道是我们的心情。
有一天，我在端起咖啡杯，惊异的仿佛看见一杯不是褐色的，是因为心情变了。连咖啡都知道了吗？
现在的一切，很平淡，对我来说，有很新鲜，阳光一片片，所以，我爱的咖啡也要换换心情，换一种味道了。
忘记从前写满心情的咖啡的味道，忘记。
现在重新开始寻找新的味道。</p>
        </div>
	<div style="margin-left: 40px;margin-bottom:20px;"><h2>友情接口</h2><h3>查询快递</h3>
          <form action="index.php?m=index&a=about" method="post">
            快递单号：<input type="text" name="number"><br /><br />
            <input type="submit" value="查询">
          </form>
          <br />
          {if !empty($express)}
	<span style="color:red;font-weight:bold;">
          {if $express['issign'] == 1}已签收<br />
          {else}未签收<br />
          <br />
	</span>
          {foreach $express['list'] as $k => $val}
            {if $k==0}
            <div style="color: green;">
             {$val['time']}<br /><span style="font-weight: bold;">{$val['status']}</span><br />
             </div>
            {else}
            {$val['time']}<br /><span style="font-weight: bold;">{$val['status']}</span><br />
            {/if}
            {/foreach}
          {/if}
          {/if}
        </div>
      </div>
      <div class="sidebar">
        <div class="gadget">
          <h2 class="star"><span>最新发表</span></h2><div class="clr"></div>
          <ul class="sb_menu">
            {if !empty($content)}
            {foreach $content as $k=>$v}
            {if $k<5}
            <li style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;width:250px;"><a href="index.php?m=index&a=blog&id={$v['id']}">{$v['title']}</a></li>
            {/if}
            {/foreach}
            {/if}
        </div>
        <div class="gadget">
          <h2 class="star"><span>热门文章</span></h2><div class="clr"></div>
          <ul class="ex_menu">
          {if !empty($hot)}
          {foreach $hot as $val}
            <li style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;width:250px;"><a href="index.php?m=index&a=blog&id={$val['id']}" title="Website Templates">{$val['title']}</li>
          {/foreach}
          {/if}
          </ul>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>

  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>About</span></h2>
        <img src="public/images/white.jpg" width="56" height="56" alt="pix" />
        <p> 一个人面对外面的世界，需要的是窗子;一个人面对自我时，需要的是镜子。通过窗子能看见世界的明亮，使用镜子能看见自己的污点。其实，窗子或镜子并不重要，重要的是你的心。你的心明亮，世界就明亮;你的心如窗，就看见了世界;你的心如镜，就观照了自我。</p>
      </div>
      <div class="col c2">
        <h2><span>Lorem Ipsum</span></h2>
        <ul class="sb_menu">
          <li><a href="#">consequat molestie</a></li>
          <li><a href="#">sem justo</a></li>
          <li><a href="#">semper</a></li>
          <li><a href="#">magna sed purus</a></li>
          <li><a href="#">tincidunt</a></li>
        </ul>
      </div>
      <div class="col c3">
        <h2><span>Contact</span></h2>
        <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue.</p>
        <p><a href="mailto:support@yoursite.com">support@yoursite.com</a></p>
        <p>+1 (123) 444-5677<br />+1 (123) 444-5678</p>
        <p>Address: 123 TemplateAccess Rd1</p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
     <span> 也许你只是一株稚嫩的幼苗，然而只要坚忍不拔，终会成为参天大树。</span>
      <span style="float:right;" class="lf">© Copyright <a href="#">MyWebSite</a>. Collect from <a href="http://www.cssmoban.com/" title="网站模板" target="_blank">网站模板</a></span>
            <div class="clr"></div>
    </div>
  </div>
</div>
</body>
</html>
